/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  /* === background body === */
  --bg-primary: #1f1f1f;

  /* === container  === */
  --container-bg: #232323;
  --container-b-radius: 32px;
  --container-width: 85%;
  --container-box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.25);
  --container-padding: 80px 160px;
  --add-container-padding: 40px;

  /* === button === */
  --btn-bg-primary: #716fb2;
  --btn-text-primary: #01001e;
  --btn-b-radius: 32px;
  --btn-box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.25);
  --btn-add-padding: 16px 32px;
  --btn-save-padding: 8px 32px;

  /* === input === */
  --input-area-height: 155px;
  --input-area-width: 429px;

  /* === text general === */
  --text-title-primary: #ffffff;
  --text-lable-color: #ffffff;
  --text-size: clamp(1.063rem, 1vw + 0.75rem, 5rem);
  --text-textarea: clamp(1.5rem, 1vw + 0.75rem, 2rem);
  --text-fw-regular: 400;
  --text-fw-medium: 500;
  --text-line-trough: line-through;
}

/* === FORMATTER === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === TAG === */
body {
  font-family: "Inter", sans-serif;
}

h1 {
  color: var(--text-title-primary);
  font-size: 3.375rem;
  font-weight: bold;
  line-height: 4rem;
  margin-bottom: 4rem;
}

/* === App CLASS === */
.App {
  width: 100vw;
  height: 100vh;
}

/* === MAIN === */
#main {
  background: var(--bg-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* === CONTAINER COMPONENT === */
#surface {
  width: 100%;
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container */
#surface .container {
  background: var(--container-bg);
  width: var(--container-width);
  padding: var(--container-padding);
  border-radius: var(--container-b-radius);
  box-shadow: var(--container-box-shadow);
}

#surface .tasks_container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-height: 50vh;
  overflow-y: overlay;
}

/* button */
#surface .btn_new_task {
  color: var(--btn-text-primary);
  background: var(--btn-bg-primary);
  font-size: var(--text-size);
  font-weight: var(--text-fw-medium);
  padding: var(--btn-add-padding);
  margin-top: 1.5rem;
  border-radius: var(--btn-b-radius);
  box-shadow: var(--btn-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

#surface .btn_new_task:hover {
  animation: btn_box_shadow 1s ease;
}

#surface .btn_new_task img {
  color: var(--btn-text-primary);
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.5rem;
}

/* === ADDTASK COMPONENT === */
#surface .add_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#surface .add_area {
  background: var(--container-bg);
  padding: var(--add-container-padding);
  border-radius: var(--container-b-radius);
  box-shadow: var(--container-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: addshow 1s;
}

textarea {
  font-size: var(--text-textarea);
  color: var(--text-lable-color);
  background: transparent;
  width: var(--input-area-width);
  height: var(--input-area-height);
  margin-bottom: 1.5rem;
  outline: 0;
  border: none;
  resize: none;
}

textarea::placeholder {
  color: var(--text-lable-color);
}

#surface .add_container .btn_add {
  color: var(--btn-text-primary);
  background: var(--btn-bg-primary);
  font-size: var(--text-size);
  font-weight: var(--text-fw-medium);
  padding: var(--btn-save-padding);
  border-radius: var(--btn-b-radius);
  box-shadow: var(--btn-box-shadow);
}

#surface .add_container .btn_add:hover {
  animation: btn_box_shadow 1s ease;
}

#surface .add_container .layer_add {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

/* === TASK COMPONENT === */
#surface .task {
  display: flex;
  align-items: center;
  word-break: break-all;
}

#surface .task.order {
  order: 1;
}

#surface .task img.bin,
#surface .task img.check {
  height: 2.5rem;
  width: 2.5rem;
}

#surface .task img.bin {
  margin-right: 2.5rem;
  transition: 0.5s transform;
}

#surface .task img.bin:hover {
  transform: scale(0.9);
}

#surface .task img.check {
  margin-right: 1.5rem;
  transition: 1s background;
}

#surface .task img.check:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

#surface .task .task_text {
  color: var(--text-lable-color);
  font-size: var(--text-size);
  font-weight: var(--text-fw-regular);
  padding-right: 1.75vw;
}

#surface .task .task_text.done {
  font-weight: var(--text-fw-regular);
  text-decoration: var(--text-line-trough);
}

/* === KEYFRAME === */
@keyframes btn_box_shadow {
  0% {
    box-shadow: 0px 0px 0px 0px #716fb2;
  }

  100% {
    box-shadow: 0px 0px 20px 7px #716fb200;
  }
}

@keyframes addshow {
  from {
    top: 100%;
  }
  to {
    top: 50%;
  }
}

/* === SCROLL BAR === */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner {
  background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #212121;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  border-radius: 16px;
}

/* === MEDIA QUERY BREAKPOINTS === */

@media screen and (max-width: 1200px) {
  h1 {
    margin-bottom: 2.3rem;
  }

  #surface .container {
    max-height: 75vh;
    padding: 35px 70px;
  }

  #surface .tasks_container {
    max-height: 65vh;
  }

  #surface .add_area {
    padding: 30px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    margin-bottom: 2rem;
  }

  #surface .container {
    padding: 30px 60px;
  }

  #surface .task img.bin,
  #surface .task img.check {
    height: 2.3rem;
    width: 2.3rem;
  }

  #surface .task img.bin {
    margin-right: 2.3rem;
  }

  #surface .btn_new_task img {
    height: 2.3rem;
    width: 2.3rem;
  }

  #surface .add_area {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    margin-bottom: 1.5rem;
  }

  #surface .container {
    padding: 20px;
  }

  #surface .task img.bin,
  #surface .task img.check {
    height: 2rem;
    width: 2rem;
  }

  #surface .task img.bin {
    margin-right: 1.5rem;
  }

  #surface .btn_new_task img {
    height: 2rem;
    width: 2rem;
  }

  #surface .add_area {
    padding: 20px;
  }

  textarea {
    width: 80vw;
  }
}

@media screen and (min-width: 1600px) {
  /* === TAG === */
  h1 {
    font-size: 3.4vw;
    padding-top: 10px;
    margin-bottom: 2.8rem;
  }

  #surface .task img.bin,
  #surface .task img.check {
    height: 2vw;
    width: 2vw;
  }

  textarea {
    width: 27vw;
    height: 16vh;
  }
}

@media screen and (min-width: 2200px) {
  #surface .task img.bin,
  #surface .task img.check {
    height: 1.8vw;
    width: 1.8vw;
  }

  textarea {
    width: 25vw;
    height: 18vh;
  }
}

@media (min-aspect-ratio: 2/1) {
  html {
    font-size: 2vh;
  }
}

/* === UTILITY === 
classi di tipo utility che avrei utilizzato se il progetto fosse stato più grande */

/* font-weight */
/* .fw_bold {
  font-weight: bold;
} */

/* width / height */
/* .max_width {
  width: 100%;
}

.max_height {
  height: 100%;
}

.max_vh_vw {
  width: 100vw;
  height: 100vh;
} */

/* margin */
/* .mt_15 {
  margin-top: 1.5rem;
}

.me_25 {
  margin-right: 2.5rem;
}

.me_15 {
  margin-right: 1.5rem;
}

.mb_15 {
  margin-bottom: 1.5rem;
}

.mb_4 {
  margin-bottom: 4rem;
} */

/* position */
/* .p_relative {
  position: relative;
}

.p_absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* flex */
/* .flex {
  display: flex;
}

.flex_item_center {
  display: flex;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_1 {
  order: 1;
} */

/* overflow */
/* .overflow_hidden {
  overflow: hidden;
} */

/* word-break */
/* .word_break_all {
  word-break: break-all;
} */
